<!-- About -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="overview">
					<h1>Our developers</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 text-center">
				<figure class="user">
					<div class="user-avatar">
						<img class="img-responsive img-circle" src="img/user-lg.png" alt="User">
					</div>
					<h2>John Doe</h2>
					<p class="lead">Lead Designer</p>
				</figure>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<figure class="user">
					<div class="user-avatar">
						<img class="img-responsive img-circle" src="img/user-lg.png" alt="User">
					</div>
					<h2>John Doe</h2>
					<p class="lead">Developer</p>
				</figure>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<figure class="user">
					<div class="user-avatar">
						<img class="img-responsive img-circle" src="img/user-lg.png" alt="User">
					</div>
					<h2>John Doe</h2>
					<p class="lead">Graphic Artist</p>
				</figure>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<figure class="user">
					<div class="user-avatar">
						<img class="img-responsive img-circle" src="img/user-lg.png" alt="User">
					</div>
					<h2>John Doe</h2>
					<p class="lead">Photographer</p>
				</figure>
			</div>
		</div>
	</div>
</section>
<!-- End About -->