<!-- Features -->
<section id="features">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="overview">
					<h1>Amazing features</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<figure class="item">
					<div class="item-icon">
						<i class="fa fa-rocket fa-lg"></i>
					</div>
					<div class="item-body">
						<h2>Ready to use</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo.</p>
					</div>
				</figure>
				<figure class="item">
					<div class="item-icon">
						<i class="fa fa-files-o fa-lg"></i>
					</div>
					<div class="item-body">
						<h2>Multiple variations</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo.</p>
					</div>
				</figure>
				<figure class="item">
					<div class="item-icon">
						<i class="fa fa-bar-chart-o fa-lg"></i>
					</div>
					<div class="item-body">
						<h2>Organic SEO</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo.</p>
					</div>
				</figure>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="iphone-1">
					<img class="img-responsive" src="img/iphone-1.png" alt="">
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<figure class="item">
					<div class="item-icon">
						<i class="fa fa-user fa-lg"></i>
					</div>
					<div class="item-body">
						<h2>Amazing support</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo.</p>
					</div>
				</figure>
				<figure class="item">
					<div class="item-icon">
						<i class="fa fa-mobile fa-lg"></i>
					</div>
					<div class="item-body">
						<h2>Responsive design</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo.</p>
					</div>
				</figure>
				<figure class="item">
					<div class="item-icon">
						<i class="fa fa-code fa-lg"></i>
					</div>
					<div class="item-body">
						<h2>User-friendly codes</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo.</p>
					</div>
				</figure>
			</div>
		</div>
	</div>
</section>
<!-- End features -->