<!-- Hero -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="logo">
                    <h1><i class="fa fa-music fa-2x"></i></h1>
                </div>
                <div class="intro">
                    <h1 ng-bind="title">Please, wait...</h1>
                    <p class="lead" ng-bind-html="description | trusted">Starting up...</p>
                    <div class="buttons">
                        <img src="img/loader.gif"/>
                        <a id="statusLabel" class="btn btn-link btn-lg" ng-bind-html="status | trusted"></a>
                    </div>
                    <video id="media"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End hero -->