<!-- Image -->
<section id="image">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="iphone-2">
					<img class="img-responsive" src="img/iphone-2.png" alt="">
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="text">
					<h1>Responsive design<br>for all devices</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo.</p>
					<a class="btn btn-4 btn-lg btn-wide"><i class="fa fa-cloud-download icon"></i>Cloud Download</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End image -->