<!-- Social -->
<section id="social">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="social-icons list-unstyled list-inline">
					<li>
						<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" class="green-tooltip">
							<div class="social-icon text-center"><i class="fa fa-facebook"></i></div>
						</a>
					</li>
					<li>
						<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" class="green-tooltip">
							<div class="social-icon text-center"><i class="fa fa-twitter"></i></div>
						</a>
					</li>
					<li>
						<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus" class="green-tooltip">
							<div class="social-icon text-center"><i class="fa fa-google-plus"></i></div>
						</a>
					</li>
					<li>
						<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram" class="green-tooltip">
							<div class="social-icon text-center"><i class="fa fa-instagram"></i></div>
						</a>
					</li>
					<li>
						<a href="mailto:author@company.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" class="green-tooltip"><!-- Change to your own email address -->
							<div class="social-icon text-center"><i class="fa fa-envelope"></i></div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End social -->