<!-- Subscribe -->
<section id="subscribe">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="overview">
					<h1>Subscribe Now</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-8 text-center">
				<form action="subscribe.php" id="invite" method="POST">
					<div class="form-group">
						<label class="sr-only">Email</label>
						<input type="text" name="email" id="address" data-validate="validate(required, email)" class="form-control input-lg" placeholder="Enter email here">
					</div>
					<button type="submit" class="btn btn-3 btn-lg btn-wide">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- End subscribe -->