<!-- Testimonials -->
<section id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="overview">
					<h1>Testimonials</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- Carousel -->
				<div id="carousel-example-generic-2" class="carousel slide">
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<div class="row">
								<div class="col-sm-2">
									<div class="user-avatar">
										<img class="img-responsive img-circle" src="img/user-md.png" alt="">
									</div>
								</div>
								<div class="col-sm-10">
									<div class="text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae nulla sapien. Nullam elit magna, dignissim id lectus ut, aliquet volutpat elit. Pellentesque condimentum sit amet arcu eget dignissim. Pellentesque facilisis lectus non augue vulputate, non iaculis quam ultrices.</p>
										<p><a href="#">John Doe, company.com</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-sm-2">
									<div class="user-avatar">
										<img class="img-responsive img-circle" src="img/user-md.png" alt="">
									</div>
								</div>
								<div class="col-sm-10">
									<div class="text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae nulla sapien. Nullam elit magna, dignissim id lectus ut, aliquet volutpat elit. Pellentesque condimentum sit amet arcu eget dignissim. Pellentesque facilisis lectus non augue vulputate, non iaculis quam ultrices.</p>
										<p><a href="#">John Doe, company.com</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-sm-2">
									<div class="user-avatar">
										<img class="img-responsive img-circle" src="img/user-md.png" alt="">
									</div>
								</div>
								<div class="col-sm-10">
									<div class="text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae nulla sapien. Nullam elit magna, dignissim id lectus ut, aliquet volutpat elit. Pellentesque condimentum sit amet arcu eget dignissim. Pellentesque facilisis lectus non augue vulputate, non iaculis quam ultrices.</p>
										<p><a href="#">John Doe, company.com</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End testimonials -->